@media screen and (max-width:1000px) {
    
    .navbar {
        display: flex;
        flex-flow: nowrap;
        height: 100px;
        background: white;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
    }
    .logo {
        flex: 20%;       
        text-align: center;
    }
    .logo h1 {
        font-family: 'Lobster', cursive;
        color: #180f4a;
        font-size: 30px;
    }
    .menu {
        flex: 60%;        
        text-align: center;
        padding: 10px;
    }
    
    .logo {
        margin: 0;
        text-align: center;
    }
    .header {
        padding: 50px;
    }
    .container1 {
        flex-wrap: 100%;
        margin: 5%;
        text-align: center;
        padding-top: 100px;
    }
    
    .container2 {
        display: inline-block;
        flex-wrap: 100%;
        margin: 5%;
        text-align: center;
        padding-top: auto;

    }
    .card {
        margin: auto;
        flex: 40%;
    }
}
